@model WhiteBoard2.Models.Post


@{
    ViewBag.Title = "Index";
}
<h2>Announcements</h2>

<div id="tableDiv"></div>


@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Custom_Scripts/BuildPosts.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}
