@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to WhiteBoard</h1>
    <p class="lead">The academic social network.</p>
    <p class="lead">Click here to see your announcements</p>
    <p><a href="Posts/Index" class="btn btn-primary btn-lg">Announcements &raquo;</a></p>
</div>

